{% extends "layout.html" %}

{% block content %}

<!-- <h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
 -->
 <style>
@import url('https://fonts.googleapis.com/css?family=Open Sans:400,700|Montserrat');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-size: 13px;
  letter-spacing: 1px;
}

 </style>

<main>
 <body>
 	<h1 style="padding-top: 500px;">
 		Your Playlists
 	</h1>
 	 	<h2 style="padding-top: 50px;">
 		Happy
 	</h2>
 		<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Artist</th>
      <th>Song</th>
      <th>Album</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Feel Good</td>
      <td>Gryffin</td>
      <td>Feel Good</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>High Hopes</td>
      <td>Panic! At The Disco</td>
      <td>Pray for the Wicked</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Beautiful People</td>
      <td>Ed Sheeran</td>
      <td>Beautiful People</td>
    </tr>
  </tbody>
</table>
<h2>
	Sad
</h2>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Artist</th>
      <th>Song</th>
      <th>Album</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Breathe</td>
      <td>Lauv</td>
      <td>I met you when I was 18</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Someone You Loved</td>
      <td>Lewis Capaldi</td>
      <td>Breach</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Out of Love</td>
      <td>Alessia Cara</td>
      <td>The Pains of Growing</td>
    </tr>
  </tbody>
</table>

  
</body>
</main>

{% endblock %}
